.idea/
includes/composer.*
includes/country_details
includes/dates_service
includes/libchart
includes/sessions
includes/sessions1
includes/stockquotes
includes/temperature_conversion
includes/vendor
logs
public_php/PDO-mysql-test.php
public_php/lab_01
public_php/lab_02
public_php/lab_03
public_php/lab_04
public_php/lab_05
public_php/lab_06
public_php/p3ttest.php
public_php/phpinfo.php
var
xdebug