{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <div id="banner-div">
        <ul>
            <li><a href="{{ landing_page }}">Home</a></li>
            <li><a href="/coursework_public/downloadmessages">Download Messages</a></li>
            <li><a href="/coursework_public/allmessages">All Messages</a></li>
        </ul>
        <h1>{{ page_heading_1 }}</h1>
        <p class="cent">
            <script type="text/javascript">document.write("Page last updated on " + document.lastModified)</script><br/>
            Maintained by Jakub, Misha, and Steven
        </p>
        <hr class="deepline"/>
    </div>
    <div id="clear-div"></div>
{% endblock %}