{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <!DOCTYPE html>
    <html lang="en">
<head>
    <title> Secure Web Application </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="banner-div">
    <ul>
        <li><a href="{{ landing_page }}">Home</a></li>
        <li><a href="downloadmessages">Download Messages</a></li>
        <li><a href="allmessages">All Messages</a></li>
        <li><a href="sendmessage">Send Message</a></li>
        <li><a href="boardstatus">Board Status</a></li>
        <li><a href="logout">Log-out</a></li>
    </ul>
    <h1>{{ page_heading_1 }}</h1>
    <p class="cent">
        <script>document.write("Page last updated on " + document.lastModified)</script>
        <br/>
        Maintained by Jakub, Misha, and Steven
    </p>
    <hr class="deepline"/>
</div>
<div id="clear-div"></div>
{% endblock %}