{% extends 'banner.html.twig' %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="page-content-div">
        <p> Welcome to our Telemetry Data Processing site.</p>
        <p> Please click on the All Messages button above on the navigation bar</p>
    </div>
{% endblock %}
