{% extends 'banner.html.twig' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Secure Web Application </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="page-content-div">
    <p> Welcome to our Telemetry Data Processing site.</p>
    <p> Please select from the many options in the navigation bar to use this platform's features</p>
</div>
{% endblock %}
