{% extends 'startingmenulayout.html.twig' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title> Secure Web Application </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div id="page-content-div">
        Welcome, please log-in and register using the navigation menu in order to enter the platform.
    </div>
{% endblock %}