{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Secure Web Application </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="banner-div">
    <ul>
        <li><a href="startingmenu">Menu</a></li>
        <li><a href="registration">Register</a></li>
        <li><a href="login">Log-in</a></li>
    </ul>
    <h1>{{ page_heading_1 }}</h1>
    <p class="cent">
        <script type="text/javascript">document.write("Page last updated on " + document.lastModified)</script>
        <br/>
        Maintained by Jakub, Misha, and Steven
    </p>
    <hr class="deepline"/>
</div>
{# <p> Welcome to our Telemetry Data Processing site.</p> #}
{# <p> Please register and log-in by navigating using the menu at the top of the page. You can always come back to #}
{# this page again by clicking on the 'Menu' button in the top menu.</p> #}
<div id="clear-div"></div>
{% endblock %}

