{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <div id="banner-div">
        <ul>
            <li><a href="/coursework_public/startingmenu">Menu</a></li>
            <li><a href="/coursework_public/registration">Register</a></li>
            <li><a href="/coursework_public/login">Log-in</a></li>
        </ul>
        <h1>{{ page_heading_1 }}</h1>
        <p class="cent">
            <script type="text/javascript">document.write("Page last updated on " + document.lastModified)</script>
            <br/>
            Maintained by Jakub, Misha, and Steven
        </p>
        <hr class="deepline"/>
    </div>
{#    <p> Welcome to our Telemetry Data Processing site.</p>#}
{#    <p> Please register and log-in by navigating using the menu at the top of the page. You can always come back to#}
{#        this page again by clicking on the 'Menu' button in the top menu.</p>#}
    <div id="clear-div"></div>
{% endblock %}

