{% extends 'banner.html.twig' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Secure Web Application </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="page-content-div">
    <p><b>Congratulations!</b> You have just sent the message below: </p> <br>
    <p>{{ message }}</p>
</div>
{% endblock %}
