{% extends 'startingmenulayout.html.twig' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
<head>
    <title> Secure Web Application </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="page-content-div">
    <p>Congratulations! You have just registered a new account with the details below.</p>
    <p><b>Entered email:</b> {{ email }}</p>
    <p><b>Entered phone number:</b> {{ phoneNumber }}</p>
    <h4><b>Storage results:</b></h4>
    <p><b>{{ storage_result }}</b></p>
</div>
{% endblock %}