{% extends 'banner.html.twig' %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="page-content-div">
        <p> <b>Congratulations!</b> You have just sent the message below: </p> <br>
        <p>{{ message }}</p>
    </div>
{% endblock %}
